vendor
node_modules
.git
.gitignore
.env.example
.DS_Store
.vscode
.idea
*.log
*.md
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*
public/hot
public/storage
tests/
.phpunit.result.cache
docker-compose.yml
Dockerfile.dev
.editorconfig
.env.*.local
.env.*.*.local
.env.backup
